<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioStreamingSwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A29C2B7D2D6F0FCD001B9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A29C2B8D2D6F0FCE001B9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A29C2B972D6F0FCE001B9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
